*{
    margin:0px; 
    padding:0px;
    border: 0; 
    outline: none;
    font-family:'Roboto', sans-serif;
}

:root{
    --cgpt-purple: #6c5ce7;
    --cgpt-lightgray: #b2b2b25c;
    --cgpt-white: 	#ffffff;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--cgpt-lightgray);
}

main{
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    border-radius:10px;
    background-color: var(--cgpt-white);
    box-shadow: 0px 0px 30px 4px rgba(0,0,0,0.2);
}

header{
    width: 47%;
    height: 95%;

    display: flex;
    flex-direction: column;
    
    left:0;
    position: relative;
    will-change:left;
    transform: translateZ(0);

    
    border-radius:inherit;
    background-color: var(--cgpt-purple);
}


article{
    width: 50%;
    height: 100%;

    left: 0;
    position: relative;
    will-change:left;
    transform: translateZ(0);

    border-radius: 10px 10px 10px 10px;
    background-color: var(--cgpt-white);
}

@keyframes moveToLeft{
    0%{
        left:0%;
    }
    25%{
        left: -10%;
    }
    50%{
        left: -20%;
    }
    75%{
        left: -30%;
    }
    95%{
        left: -40%;
    }
    100%{
        left: -50%;
    }
}

@keyframes moveToRight{
    0%{
        left: 0%;
    }
    25%{
        left: 10%;
    }
    50%{
        left: 20%;
    }
    75%{
        left: 30%;
    }
    95%{
        left: 40%;
    }
    100%{
        left: 50%;
    }
}
@keyframes returnToLeft{
    0%{
        left: 50%;
    }
    25%{
        left: 40%;
    }
    50%{
        left: 30%;
    }
    75%{
        left: 20%;
    }
    95%{
        left: 10%;
    }
    100%{
        left: 0%;
    }
}

@keyframes returnToRight{
    0%{
        left:-50%;
    }
    25%{
        left: -40%;
    }
    50%{
        left: -30%;
    }
    75%{
        left: -20%;
    }
    95%{
        left: -10%;
    }
    100%{
        left: 0%;
    }
}